<!-- backend/templates/explore.html
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>UrbanGuardian: Explore Mode</title>

  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    crossorigin=""
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
  <h2>🌍 UrbanGuardian: Explore Mode</h2>
  <div id="map" style="height:90vh;width:100%"></div>

  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" crossorigin=""></script>
  <script src="https://unpkg.com/@turf/turf@6.5.0/turf.min.js"></script>


  <script src="{{ url_for('static', filename='config.js') }}"></script>
  <script src="{{ url_for('static', filename='aqiLayer.js') }}"></script>
  <script src="{{ url_for('static', filename='explore.js') }}"></script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>UrbanGuardian: Explore Mode</title>
  
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" crossorigin="" />
  
  <!-- Your CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  
  <!-- D3 -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  
  <!-- Font Awesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
  <div class="container">
    <!-- Left Sidebar -->
    <div class="sidebar">
      <div class="logo">UrbanGuardian</div>
      <nav>
        <a href="/explore" class="active"><i class="fas fa-map"></i> Explore</a>
        <a href="/recommendations"><i class="fas fa-lightbulb"></i> Recommendations</a>
        <a href="/simulation"><i class="fas fa-chart-line"></i> Simulation</a>
      </nav>
    </div>

    <!-- Main Map Area -->
    <div class="map-container">
      <div id="map"></div>
    </div>

    <!-- Right Panel (empty for now, can be used for additional controls) -->
    <div class="right-panel">
      <!-- Toggles will be added via JavaScript -->
    </div>
  </div>

  <!-- Leaflet JS (before your code) -->
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" crossorigin=""></script>
  <script src="https://unpkg.com/@turf/turf@6.5.0/turf.min.js"></script>

  <!-- Config & Logic -->
  <script src="{{ url_for('static', filename='config.js') }}"></script>
  <script src="{{ url_for('static', filename='aqiLayer.js') }}"></script>
  <script src="{{ url_for('static', filename='explore.js') }}"></script>
</body>
</html>